body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.clock {
  width: 300px;
  height: 300px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  background: black;
}

.center {
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
}

.hour {
  width: 6px;
  height: 70px;
  background: white;
}

.minute {
  width: 4px;
  height: 100px;
  background: lightgray;
}

.second {
  width: 2px;
  height: 120px;
  background: red;
}

.number {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.n12 { top: 10px; left: 50%; transform: translateX(-50%); }
.n1  { top: 30px; right: 60px; }
.n2  { top: 70px; right: 25px; }
.n3  { top: 50%; right: 10px; transform: translateY(-50%); }
.n4  { bottom: 70px; right: 25px; }
.n5  { bottom: 30px; right: 60px; }
.n6  { bottom: 10px; left: 50%; transform: translateX(-50%); }
.n7  { bottom: 30px; left: 60px; }
.n8  { bottom: 70px; left: 25px; }
.n9  { top: 50%; left: 10px; transform: translateY(-50%); }
.n10 { top: 70px; left: 25px; }
.n11 { top: 30px; left: 60px; }